@model StudentManagement.Models.UpdateStudentViewModel
@{
}
<h1>Edit Student</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">StudentID</label>
        <input type="text" class="form-control" asp-for="StudentId" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">StudentName</label>
        <input type="text" class="form-control" asp-for="StudentName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Dob</label>
        <input type="date" class="form-control" asp-for="Dob">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Gender</label>
        <input type="text" class="form-control" asp-for="Gender">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">PhoneNumber</label>
        <input type="number" class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Score</label>
        <input type="number" step="0.5" min="0" max="10" class="form-control" asp-for="Score">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">ClassID</label>
        <input type="number" class="form-control" asp-for="ClassID">
    </div>


    <button type="submit" class="btn btn-primary" asp-action="">Submit</button>

    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Student">
        Delete
    </button>
</form>
