@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Student management System</h2>
    <p>Please select an option to start from the bar above</p>
</div>
