@model List<StudentManagement.Models.Domain.Teacher>
@{
}

<h1>Teacher List</h1>
<table class="table">
    <thead>
        <tr>
            <th>TeacherID</th>
            <th>Taecher Name</th>
            
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.TeacherId</td>
                <td>@teacher.TeacherName</td>
                
                <td>
                    <a class="btn btn-sm btn-warning " asp-controller="Teacher" asp-action="View" asp-route-id="@teacher.TeacherId">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
