:root{
    --colour: red;
    --size: 35px;
}
.fname{
    color: var(--colour);
    font-size: var(--size);
}
.lname{
    color: var(--colour);
    font-size: var(--size);
}
.Pnumber{
    color: var(--colour);
    font-size: var(--size);
}
.email{
    color: var(--colour);
    font-size: var(--size);
}
.addr{
    color: var(--colour);
    font-size: var(--size);
}