@model MySchool.Models.Teacher

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTeacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTeacher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameTeacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTeacher)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="">Edit</a>
</div>
