@model Teacher

@{
    ViewData["Title"] = "Login";
}

<div class="center">
    <h1>Teacher Login</h1>
    <form asp-area="TeacherArea" asp-controller="Home" asp-action="Login" id="myform">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="detail">
            <input asp-for="Email" type="text" class="input" placeholder=" " required/>
            <label asp-for="Email" class="label">Email</label>
            <span asp-validation-for="Email" class="mess"></span>
        </div>

        <div class="detail">
            <input asp-for="Password" type="password" class="input" placeholder=" " required/>
            <label asp-for="Password" class="label">Password</label>
            <span asp-validation-for="Password" class="mess"></span>
        </div>

        <div class="button">
            <button>Login</button>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}