@model MySchool.Models.Class

@{
    ViewData["Title"] = "eeee";
}


<div class="h-100 position-relative">
    <form asp-action="Create" style="width:700px; padding: 20px; border-radius:10px; background:white; top: 30%; left: 50%; transform: translate(-50%, -50%)" class="position-absolute">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="NameClass" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="NameClass" class="form-control" />
            </div>
            <span asp-validation-for="NameClass" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="IdTeacher" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="IdTeacher" asp-items="@ViewBag.IdTeacher" class="form-control">
                    <option value="0">Choose a Teacher</option>
                </select>
            </div>
            <span asp-validation-for="IdTeacher" class="text-danger"></span>
        </div>
        <div class="button">
            <input type="submit" value="Create" class="btn btn-primary btn-sm btn-block" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
