@model IEnumerable<Teacher>

@{
    ViewData["Title"] = "Admin Page";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row py-5">
    <div class="col-lg-10 mx-auto">
        <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
                <div class="table-responsive">
                    <table id="example" style="width:100%" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fullname</th>
                                <th class="col-lg-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.IdTeacher</td>
                                    <td>@item.NameTeacher</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdTeacher">Edit</a> |
                                        <a asp-action="Delete" asp-route-id="@item.IdTeacher">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
