@model SchoolManagement.Models.StudentInfo

@{
    ViewData["Title"] = "LayoutAdd";
}

<h1>LayoutAdd</h1>

<h4>StudentInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LayoutAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGender" class="control-label"></label>
                <select asp-for="StudentGender" class="form-control"></select>
                <span asp-validation-for="StudentGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPhoneNumber" class="control-label"></label>
                <input asp-for="StudentPhoneNumber" class="form-control" />
                <span asp-validation-for="StudentPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentScore" class="control-label"></label>
                <input asp-for="StudentScore" class="form-control" />
                <span asp-validation-for="StudentScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <input asp-for="ClassId" class="form-control" />
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
