<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - MySchool</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/homepage/css/style.css">

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<div class="page">
		<nav id="colorlib-main-nav" role="navigation">
			<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
			<div class="js-fullheight colorlib-table">
				<div class="img" style="background-image: url(images/bg_3.jpg);"></div>
				<div class="colorlib-table-cell js-fullheight">
					<div class="row no-gutters">
						<div class="col-md-12 text-center">
							<h1 class="mb-4">
								<a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Your Role</a>
								@*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
							</h1>
							<ul>
								<li><a asp-area="AdminArea" asp-controller="Home" asp-action="Index"><span>Admin</span></a></li>
								<li><a asp-area="TeacherArea" asp-controller="Home" asp-action="Index"><span>Teacher</span></a></li>
								<li><a asp-area="StudentArea" asp-controller="Home" asp-action="Index"><span>Student</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div id="colorlib-page">
			<header>
				<div class="container">
					<div class="colorlib-navbar-brand">
						<span class="colorlib-logo">Vu Dung</span>
					</div>
					<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
				</div>
			</header>

			<section class="hero-wrap js-fullheight">
				<div class="container px-0">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
						<div class="col-md-12 ftco-animate text-center">
							<div class="desc">
								<h1>My School</h1>
								<h3>A simple web for 3 roles</h3>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/homepage/js/jquery.min.js"></script>
    <script src="~/homepage/js/popper.js"></script>
    <script src="~/homepage/js/bootstrap.min.js"></script>
    <script src="~/homepage/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
